<div class="row">
  <div class="col-lg-12">
    <h2 class="mb-4 text-primary">Driver Management</h2>
    <div class="card">
      <div class="card-header custom-tr my-3">
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              id="txtsearch"
              placeholder="Search..."
            />
          </div>
          <div class="col-6 text-end">
            <button
              (click)="AddVehicleModal(addDriverModal)"
              type="button"
              class="btn btn-primary waves-effect waves-light px-5"
            >
              Add New Driver
            </button>
          </div>
        </div>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <table class="table table-nowrap">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Driver Name</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (item of driverData; track $index) {
            <tr>
              <td>{{ item.driverId }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.address }}</td>
              <td>
                <button
                  (click)="updateDriverModal(UpdateDriverModal, item)"
                  type="button"
                  class="btn btn-sm btn-soft-warning waves-effect waves-light"
                >
                  Update
                </button>

                <button
                  (click)="deleteDriver(item.driverId)"
                  type="button"
                  class="btn btn-sm btn-soft-danger waves-effect waves-light mx-3"
                >
                  Delete
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<!-- add vehcile modal -->
<ng-template #addDriverModal role="document" let-modal>
  <div class="modal-header p-3 bg-dark-subtle">
    <h5 class="modal-title" id="createboardModalLabel">Add Driver</h5>
    <button
      type="button"
      class="btn-close"
      id="btn-close2"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="driverAdd" (ngSubmit)="addDriver()">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label"
            >Driver Id <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="D00X"
            formControlName="id"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Driver Name </label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Driver Name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Driver Contact Number <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Contact Number"
            formControlName="contactNumber"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label">Driver Address</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Driver address"
            formControlName="address"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="mt-4">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="addNewBoard">
              Add Driver
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- update vehicle -->
<ng-template #UpdateDriverModal role="document" let-modal>
  <div class="modal-header p-3 bg-dark-subtle">
    <h5 class="modal-title" id="createboardModalLabel">Update Driver</h5>
    <button
      type="button"
      class="btn-close"
      id="btn-close2"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateDriver" (ngSubmit)="EditDriver()">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label"
            >Driver Id <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="D00X"
            formControlName="id"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Driver Name </label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Driver Name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Driver Contact Number <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Contact Number"
            formControlName="contactNumber"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label">Driver Address</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Driver address"
            formControlName="address"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="mt-4">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="addNewBoard">
              Add Driver
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
