<div class="row">
  <div class="col-lg-12">
    <h2 class="mb-4 text-primary">Vehicle Management</h2>
    <div class="card">
      <div class="card-header custom-tr my-3">
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              id="txtsearch"
              placeholder="Search..."
            />
          </div>
          <div class="col-6 text-end">
            <button
              (click)="AddVehicleModal(addVehicleModal)"
              type="button"
              class="btn btn-primary waves-effect waves-light px-5"
            >
              Add New Vehicle
            </button>
          </div>
        </div>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <table class="table table-nowrap">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Customer</th>
              <th scope="col">Date</th>
              <th scope="col">Invoice</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="#" class="fw-semibold">#VZ2110</a></th>
              <td>Bobby Davis</td>
              <td>October 15, 2021</td>
              <td>$2,300</td>
              <td>
                <a href="javascript:void(0);" class="link-success"
                  >View More <i class="ri-arrow-right-line align-middle"></i
                ></a>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="#" class="fw-semibold">#VZ2109</a></th>
              <td>Christopher Neal</td>
              <td>October 7, 2021</td>
              <td>$5,500</td>
              <td>
                <a href="javascript:void(0);" class="link-success"
                  >View More <i class="ri-arrow-right-line align-middle"></i
                ></a>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="#" class="fw-semibold">#VZ2108</a></th>
              <td>Monkey Karry</td>
              <td>October 5, 2021</td>
              <td>$2,420</td>
              <td>
                <a href="javascript:void(0);" class="link-success"
                  >View More <i class="ri-arrow-right-line align-middle"></i
                ></a>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="#" class="fw-semibold">#VZ2107</a></th>
              <td>James White</td>
              <td>October 2, 2021</td>
              <td>$7,452</td>
              <td>
                <a href="javascript:void(0);" class="link-success"
                  >View More <i class="ri-arrow-right-line align-middle"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<!-- add vehcile modal -->
<ng-template #addVehicleModal role="document" let-modal>
  <div class="modal-header p-3 bg-dark-subtle">
    <h5 class="modal-title" id="createboardModalLabel">Edit project</h5>
    <button
      type="button"
      class="btn-close"
      id="btn-close2"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label"
            >Vehicle Id <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Brand </label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Price per millage <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Fuel Type<span class="text-danger">*</span></label
          >
          <select class="form-select mb-3" aria-label="Default select example">
            <option disabled>Open this select menu</option>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
            <option value="Hybrid">Hybrid</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Color</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Number Plate Number</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="name"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="mt-4">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="addNewBoard">
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
