<div class="row">
  <div class="col-lg-12">
    <h2 class="mb-4 text-primary">Vehicle Management</h2>
    <div class="card">
      <div class="card-header custom-tr my-3">
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              id="txtsearch"
              placeholder="Search..."
            />
          </div>
          <div class="col-6 text-end">
            <button
              (click)="AddVehicleModal(addVehicleModal)"
              type="button"
              class="btn btn-primary waves-effect waves-light px-5"
            >
              Add New Vehicle
            </button>
          </div>
        </div>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <table class="table table-nowrap">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Brand</th>
              <th scope="col">Color</th>
              <th scope="col">Price per millage</th>
              <th scope="col">Number Plate</th>
              <th scope="col">Fuel</th>
              <th scope="col">Status</th>
              <th scope="col">Assign Driver</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (item of vehicleData; track $index) {
            <tr>
              <td>{{ item.vehicleId }}</td>
              <td>{{ item.brand }}</td>
              <td>{{ item.color }}</td>
              <td>{{ item.pricePreMilage }}</td>
              <td>{{ item.licanePlateNumber }}</td>
              <td>{{ item.fuelType }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.driverId }}</td>

              <td>
                <button
                  (click)="updateVehicleModal(UpdateVehicleModal, item)"
                  type="button"
                  class="btn btn-sm btn-soft-warning waves-effect waves-light"
                >
                  Update
                </button>

                <button
                  (click)="deleteVehcile(item.vehicleId)"
                  type="button"
                  class="btn btn-sm btn-soft-danger waves-effect waves-light mx-3"
                >
                  Delete
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<!-- add vehcile modal -->
<ng-template #addVehicleModal role="document" let-modal>
  <div class="modal-header p-3 bg-dark-subtle">
    <h5 class="modal-title" id="createboardModalLabel">Add Vehicle</h5>
    <button
      type="button"
      class="btn-close"
      id="btn-close2"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="VehicleAdd" (ngSubmit)="addVehicle()">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label"
            >Vehicle Id <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="V00X"
            formControlName="id"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Brand </label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Brand"
            formControlName="brand"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Price per millage <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Millage"
            formControlName="millage"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Fuel Type<span class="text-danger">*</span></label
          >
          <select
            class="form-select mb-3"
            formControlName="fuelType"
            aria-label="Default select example"
          >
            <option disabled selected>Open this select menu</option>
            <option value="PETROL">Petrol</option>
            <option value="DIESEL">Diesel</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Color</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="color"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Number Plate Number</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="numberPlate"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Assign a Driver<span class="text-danger">*</span></label
          >
          <select
            class="form-select mb-3"
            formControlName="drivers"
            aria-label="Default select example"
          >
            <option disabled selected>Open this select menu</option>
            <option *ngFor="let driver of driverData" [value]="driver.driverId">
              {{ driver.name }}
            </option>
          </select>
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <div class="d-flex align-items-center">
            <!-- First Radio Button -->
            <div class="form-check form-radio-warning me-3">
              <input
                class="form-check-input"
                type="radio"
                name="formradiocolor4"
                id="publicRadio"
                formControlName="status"
                value="AVILABLE"
              />
              <label class="form-check-label" for="publicRadio">
                Available
              </label>
            </div>
            <!-- Second Radio Button -->
            <div class="form-check form-radio-warning">
              <input
                class="form-check-input"
                type="radio"
                name="formradiocolor4"
                id="privateRadio"
                formControlName="status"
                value="INAVILABLE"
              />
              <label class="form-check-label" for="privateRadio"
                >Unavailable</label
              >
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="addNewBoard">
              Add Vehicle
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #UpdateVehicleModal role="document" let-modal>
  <div class="modal-header p-3 bg-dark-subtle">
    <h5 class="modal-title" id="createboardModalLabel">Edit Vehicle</h5>
    <button
      type="button"
      class="btn-close"
      id="btn-close2"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="VehicleUpdateForm" (ngSubmit)="updateVehicle()">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label"
            >Vehicle Id <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="V00X"
            formControlName="id"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Brand </label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Brand"
            formControlName="brand"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Price per millage <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="Millage"
            formControlName="millage"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Fuel Type<span class="text-danger">*</span></label
          >
          <select
            class="form-select mb-3"
            formControlName="fuelType"
            aria-label="Default select example"
          >
            <option disabled selected>Open this select menu</option>
            <option value="PETROL">Petrol</option>
            <option value="DIESEL">Diesel</option>
          </select>
        </div>

        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Vehicle Color</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="color"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="boardName" class="form-label">Number Plate Number</label>
          <input
            type="text"
            class="form-control"
            id="boardName"
            placeholder="project name"
            formControlName="numberPlate"
            appMaxInputLimit
            [maxLength]="85"
          />
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <label for="boardName" class="form-label"
            >Assign a Driver<span class="text-danger">*</span></label
          >
          <select
            class="form-select mb-3"
            formControlName="drivers"
            aria-label="Default select example"
          >
            <option disabled selected>Open this select menu</option>
            <option *ngFor="let driver of driverData" [value]="driver.driverId">
              {{ driver.name }}
            </option>
          </select>
        </div>

        <div class="col-lg-12 col-md-12 mb-3">
          <div class="d-flex align-items-center">
            <!-- First Radio Button -->
            <div class="form-check form-radio-warning me-3">
              <input
                class="form-check-input"
                type="radio"
                name="formradiocolor4"
                id="publicRadio"
                formControlName="status"
                value="AVILABLE"
              />
              <label class="form-check-label" for="publicRadio">
                Available
              </label>
            </div>
            <!-- Second Radio Button -->
            <div class="form-check form-radio-warning">
              <input
                class="form-check-input"
                type="radio"
                name="formradiocolor4"
                id="privateRadio"
                formControlName="status"
                value="INAVILABLE"
              />
              <label class="form-check-label" for="privateRadio"
                >Unavailable</label
              >
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="addNewBoard">
              Update Vehicle
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
